form,.form-controll{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
form{
    gap: 1rem;
    width: 350px;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.form-controll h3{
    color: rgb(7, 126, 70);
}
.form-controll p{
    color: rgba(158, 158, 158, 0.76);
    font-size: 0.8rem;
}
.form-controll label{
    font-size: 0.8rem;
}
.form-controll input,.form-controll button{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.form-controll button{
    background: rgb(7, 126, 70);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
.form-controll .error{
    color: red;
}